/* header {
  padding:10px 50%;
} */

header button {
  font-family: "LaOriental" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration:none !important;
  font-weight: bold !important;
  margin: 0 auto;
}

header a {
  margin: 0 auto;
}

header {
  padding: 10px 50%;
}