.team_section {
  width: 200px;
}

.team_name {
  font-size: 1.2rem;
  font-weight: bold;
}

.team_description {
    font-size: 0.6rem;
    line-height: 1.5;
    width: fit-content;
    margin: auto;
}

/* tablets */
@media screen and (min-width: 769px) {
  .w-14 {
    width: 5.2rem;
  }
  .h-14 {
    height: 5.2rem;
  }
}

@media screen and (min-width: 0px) and (max-width: 375px) {
  .w-14 {
    width: 2.5rem;
  }
  .h-14 {
    height: 2.5rem;
  }
  .team-tengah {
    margin: 1rem;
  }
}
