.App {
  text-align: center;
}

.hide {
  display: none;
}

.section {
  padding: 10em 10em;
}

#journey {
  background-color: #460302;
}

.main-section {
 min-height: 100vh;
 /* background-color: #000000; */
}

.title_home {
  font-size: 200px;
}

.title {
  font-size: 8em;
  margin: 50px 0;
}

@media (max-width: 675px) {
  .title {
    font-size: 4em;
    margin: 50px 0;
  }
  .content {
    font-size: 1em;
    margin: 20px 0;
  }
}

.content {
  font-size: 2em;
  margin: 20px 0;
}

.flex p {
  color: #e0ffe9;
}

.where-buy {
  min-height: 400px;
  background-color: #FFEC83;
  background-image: "/background.jpg";
}

.rarity {
  min-height: 400px;
  background-color: #B4F8C7;
}

.faq {
  min-height: 400px;
  background-color: #FFAFBC;
}

.what {
  min-height: fit-content;
  background-color: #9784ff;
}

.team {
  min-height: 400px;
  background-color: #FFA384;
}

.logo-exchange {
  width: 50px;
}

.MuiButton-label, .MuiTypography-root {
  color: white;
}

.button {
  background-color: #303f9f !important;
}