.App {
  text-align: center;
}

.app-container {
  background: url(./bg/bg_pattern.svg)
}

.hero_section .Container {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: space-around;
  -moz-box-align: center;
  align-items: center;
  height: 95vh;
}

.sosmed_button > a {
  margin : 2em;
  text-decoration: none !important;
  color: white;
}

.footer_button > a {
  font-size: 2em;
  margin : 2em;
  text-decoration: none !important;
  color: white;
}

.bigLogo {
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 60%;
}

.footer_logo {
  height: 50%;
}

.hide {
  display: none;
}

.section {
  padding: 10em 10em;
}

.journey, .joinclan, .team {
  background-color: #4f1c28;
}

.the_clan_section {
  padding: 10em 10em;
}


.main-section {
 min-height: 100vh;
}

.title_home {
  font-size: 200px;
}

.title {
  font-size: 5em;
  margin: 50px 0;
}

.content {
  font-size: 1.5em;
  margin: 20px 0;
}

.avatar>div {
  margin: auto 0;
}

@media (max-width: 768px) {
  .title {
    font-size: 4em;
    margin: 50px 0;
  }
  .content {
    font-size: 1em;
    margin: 20px 0;
  }
  .joinClan {
    flex-direction: column;
  }
  .team {
    flex-direction: column;
  }
}

.flex p {
  color: #e0ffe9;
}

.where-buy {
  min-height: 400px;
  background-color: #FFEC83;
  background-image: "/background.jpg";
}

.rarity {
  min-height: 400px;
  background-color: #B4F8C7;
}

.faq {
  min-height: 400px;
  background-color: #FFAFBC;
}

.what {
  min-height: fit-content;
  background-color: #9784ff;
}

.team {
  min-height: 400px;
}

.logo-exchange {
  width: 50px;
}

.MuiButton-label, .MuiTypography-root {
  color: white;
}

.button {
  background-color: #303f9f !important;
}

/* Mobile */
@media (max-width: 767px) {
  .carousel-item {
      height: auto;
  }
  .carousel-item > img {
       width: 100%;
       margin: 0 0.2em;
  }
}

/* tablets */
@media (max-width: 991px) and (min-width: 768px) {
  .carousel-item {
      height: auto;
  }
  .carousel-item > img {
      width: 100%;
      margin: 0 0.2em;
  }
}

/* laptops */
@media (max-width: 1023px) and (min-width: 992px) {
  .carousel-item {
       height: 200px;
  }
  .carousel-item > img {
      width: 100%;
      margin: 0 0.2em;
  }
}

/* desktops */
@media (min-width: 1024px) {
  .carousel-item {
      height: 300px;
  }
  .carousel-item > img {
      width: 100%;
      margin: 0 0.2em;
  }
}