.App {
  text-align: center;
}

.app-container {
  background: url(./bg/bg_pattern.svg)
}

.hero_section .Container {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: space-around;
  -moz-box-align: center;
  align-items: center;
  height: 95vh;
}

.sosmed_button > a {
  margin : 2em;
  text-decoration: none !important;
  color: white;
}

.footer_button > a {
  font-size: 2em;
  margin : 2em;
  text-decoration: none !important;
  color: white;
}

.bigLogo {
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 60%;
}

.joinClanLogo {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.smallLogo {
  width: 25%;
  height: 25%;
}

.footer_logo {
  height: 50%;
}

.hide {
  display: none;
}

/* .section {
  padding: 10rem 14rem;
} */

.journey, .joinclan, .team {
  background-color: #4f1c28;
}

.the_clan_section {
  padding: 10rem 14rem;
}

p.chapter {
  font-size: 1.3em;
  margin-bottom: 0.4em;
}


.main-section {
 min-height: 100vh;
}

.title_home {
  font-size: 200px;
}

.title {
  font-size: 5em;
  margin: 50px 0;
}

.content {
  font-size: 1.5em;
  margin: 20px 0;
}

.avatar>div {
  margin: auto 0;
}

.flex p {
  color: #ffffff;
}

.where-buy {
  min-height: 400px;
  background-color: #FFEC83;
  background-image: "/background.jpg";
}

.rarity {
  min-height: 400px;
  background-color: #B4F8C7;
}

.faq {
  min-height: 400px;
  background-color: #FFAFBC;
}

.what {
  min-height: fit-content;
  background-color: #9784ff;
}

.team {
  min-height: 400px;
}

.logo-exchange {
  width: 50px;
}

.MuiButton-label, .MuiTypography-root {
  color: white;
  font-family: "LaOriental", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-align: center !important;
}

.button {
  background-color: #303f9f !important;
}

.menu-mobile {
  display: none;
  padding: 10px;
}

.menu-mobile a {
  margin: 0 auto;
}

@media screen and (max-width: 375px) {
  .bigLogo {
    width: auto;
    height: 200px;
  }
  .geisha_team {
    margin: 10px auto;
  }
  .carousel-item {
    height: 200px;
  }
  .carousel-item > img {
    /* width: 100%; */
    height: auto;
    margin: 0 1em;
  }
  .section {
    padding: 2.5rem;
  }
  .title {
  font-size: 1.75em;
  margin: 50px 0;
  text-align: center !important;
  }
  .content {
  font-size: 0.75rem;
  margin: 20px 0;
  }
  .joinClan {
    flex-direction: column;
  }
  .joinClanLogo {
    width: 40%;
  }
  .wallet {
    text-align: center;
    align-items: center;
    margin: auto;
    width: 100%;
  }
  .wallet .content {
    text-align: center;
  }
  .avatar {
    margin: 0;
  }
  
  /* .team {
    flex-direction: column;
  } */
  #team {
    flex-direction: column;
  }
  .card-body {
    text-align: center;
  }
  header {
    display: none !important;
  }
  .menu-mobile {
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .w-14 {
    width: 3rem;
  }
  .h-14 {
    height: 3rem;
  }
  .team_name {
    font-size: 0.7rem !important;
    font-weight: bold;
  }
  .team_description {
    font-size: 0.5rem !important;
  }
}

@media screen and (max-width: 768px) and (min-width: 376px) {
  .bigLogo {
    width: auto;
    height: 280px;
  }
  .carousel-item {
    height: 300px;
  }
  .carousel-item > img {
    /* width: 100%; */
    height: auto;
    margin: 0 15px;
  }
  .team-tengah {
    margin: 1.5rem;
  }
  .section {
  padding: 4rem;
  }
  .title {
  font-size: 2.5em;
  margin: 50px 0;
  text-align: center !important;
  }
  .content {
  font-size: 1em;
  margin: 20px 0;
  }
  .joinClan {
    flex-direction: column;
  }
  .joinClanLogo {
    width: 40%;
  }
  .joinClan .content > p {
    margin: auto 0;
    text-align: left;
  }
  .joinClan button > .MuiButton-label {
    margin: auto;
    text-align: center !important;
  }
  .wallet {
    text-align: center;
    align-items: center;
    margin: auto;
    width: 100%;
  }
  .wallet .content {
    text-align: center;
  }
  .avatar {
    margin: auto;
  }
  .team {
    flex-direction: column;
  }
  #team {
    flex-direction: column;
  }
  .card-body {
    text-align: center;
  }
  header {
    display: none !important;
  }
  .menu-mobile {
    display: flex;
  }
}

/* tablets */
@media screen and (max-width: 991px) and (min-width: 769px) {
  .carousel-item {
    height: 300px;
  }
  .carousel-item > img {
    /* width: 100%; */
    height: auto;
    margin: 0 0.2em;
  }
  .section {
    padding: 5rem 7rem;
  }
  .title {
    font-size: 3em;
    margin: 50px 0;
    text-align: center !important;
  }
  .content {
    font-size: 1em;
    margin: 20px 0;
  }
  .joinClan {
    flex-direction: column;
  }
  .joinClanLogo {
    width: 40%;
  }
  .wallet {
    text-align: center;
    align-items: center;
    margin: auto;
    width: 50%;
    /* padding: 1rem 10rem; */
  }
  .wallet .content {
    text-align: center;
  }
  .avatar {
    margin: auto;
  }
  .team {
    flex-direction: column;
  }
  #team {
    flex-direction: column;
  }
  .card-body {
    text-align: center;
  }
}

/* laptops */
@media screen and (max-width: 1024px) and (min-width: 992px) {
  .section {
    padding: 5rem 14rem;
  }
  .carousel-item {
       height: 300px;
  }
  .carousel-item > img {
      /* width: 100%; */
      margin: 0 0.2em;
  }
  .card-body {
    text-align: left;
  }
}

/* desktops */
@media screen and (min-width: 1025px) {
  .section {
    padding: 10rem 17rem;
  }
  .carousel-item {
      height: 300px;
  }
  .carousel-item > img {
      /* width: 100%; */
      margin: 0 0.2em;
  }
  #roadmap .content {
    text-align: left;
  }
  .team {
    padding: 10rem;
  }
}